//Styles for IRL

$student-violet: #9651a4;
$lecturer-blue: #4a78da;
$admin-red: #ff1736;

//User type styling
.student-element{
    background-color: $student-violet;
    color: white;
}

.lecturer-element{
    background-color: $lecturer-blue;
    color: white;
}

.admin-element{
    background-color: $admin-red;
    color: white;
}

//General Styling
html{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-buffer{
    height: 7vh;
}


//Login Styling
#login-form, #content-div{
    align-self: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 20px;

    width: 50vw;
    min-height: 60vh;

    border-radius: 35px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.500);
}

#login-form div{
    width: 18vw;

    display: flex;
    justify-content: flex-end;
    align-items: space-around;
    
    padding: 7px;
    padding-right: 35px;
}

#login-btn{
    margin: 10px;
}

//Main App Styling
.results-table, th, tr, td{
    margin: 20px;
    border: 1px solid black;
}